/****************************\
   Contact-us
\****************************/
@use "variables" as v;
@use "font" as f;

.contact-us {
  min-width: 46rem;
  padding: 2.5rem;
  border-radius: 1rem;
  background-color: v.$col-White;

  @media (max-width: 48rem) {
    min-width: 43.125rem;
  }

  @media (max-width: 42.5rem) {
    padding: 1.5rem;
    min-width: auto;
  }
  &__heading {
    font-family: "Karla-Bold";
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 100%;
    margin-bottom: 2rem;
  }
}
