/****************************\
    Font
\****************************/

@font-face {
  font-family: "Karla-Bold";
  src: url(../assets/fonts/Karla-Bold.ttf);
}

@font-face {
  font-family: "Karla-Regular";
  src: url(../assets/fonts/Karla-Regular.ttf);
}
