/****************************\
    Colors
\****************************/

$col-Green-200: #dff1e7;
$col-Green-600: #0c7d69;
$col-Red: #d73c3c;

$col-White: #ffffff;
$col-Grey-500: #87a3a6;
$col-Grey-900: #2b4246;
